.sideBar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  box-shadow: 0 0 5px 3px #23232323;
  input {
    display: block;
    width: 100%;
    padding: 6px 10px;
    font-size: 18px;
    box-sizing: border-box;
  }
  .sidebarLinkContainer {
    max-height: calc(100% - 95px);
    overflow-y: auto;
  }
}
.mainContainer {
  padding-left: 300px;
  &.guest {
    padding-left: 0;
  }
}

.loader {
  filter: grayscale(1);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shown-on-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .shown-on-mobile {
    display: block;
  }
  .hidden-on-mobile {
    display: none;
  }
  .sideBar {
    width: 100%;
    background-color: white;
    &.not-visible {
      bottom: auto;
      input,
      .sidebarLinkContainer {
        display: none;
      }
    }
  }
  .mainContainer {
    padding-left: 0;
    padding-top: 54px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5656544;
  transition: all 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f56565;
}
